#banner 
    .banner_content
        %h1 File Cabinet
        %p Save Your Doc on go...
        %button= link_to 'Sign Up',new_user_registration_path
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis fermentum massa at mattis. Aenean sit amet magna ut lectus posuere dignissim. Nulla facilisi. Nullam non tristique dolor. Vivamus eu accumsan nisi. Mauris nec eros
#bottom_cta
    .wrapper
        %h2 Go Ahead !
        %br
        %button= link_to 'Join now',new_user_registration_path